<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title> {{ .Site.Title }} </title>
  
  {{ with .Site.Params.Keywords }}<meta name="keywords" content="{{.}}">{{ end }}
  {{ with .Site.Params.Description }}<meta name="description" content="{{.}}">{{ end }}
  
  {{ partial "head.html" . }}

  <link href="vendor/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body style>
  {{ partial "header.html" . }}
  
  <section class="user-profile">
    <p class="user-motivation">Welcome to Lockdown.</p>
    <p>Lockdown is a defensive security competition run by the <a href="https://ubnetdef.org">University at Buffalo Network Defense</a>. Competitors are placed in a simulated environment where they will have to defend against attackers trying to bring down their network. Not only do the competitors have to keep their network up, they will have to complete injects throughout the day that reflect real world business tasks. This provides valuable skills for up and coming cybersecurity professionals</p>
  </section>


  <section class="photos">
    <div class="row">	  
        <div class="column">
         <a href="images/picture2.jpg" data-lightbox="image-1" data-title="image 1" ><img src="images/picture2.jpg"></a>
        </div>
        <div class="column">
	 <a href="images/picture1.jpg" data-lightbox="image-2" data-title="LockdownV5 Winners" ><img src="images/picture1.jpg"></a>
        </div>
	<div class="column">
	  <a href="images/picture3.jpg" data-lightbox="image-3" data-title="image 3" ><img src="images/picture3.jpg"></a>
	</div>
     </div>
    <div class="row">
      <div class="column">	  
        <a href="images/picture4.jpg" data-lightbox="image-4" data-title="image 4"><img src="images/picture4.jpg"></a>
      </div>
      <div class="column">
        <a href="images/picture5.jpg" data-lightbox="image-5" data-title="image 5"><img src="images/picture5.jpg"></a>
      </div>
      <div class="column">
        <a href="images/picture6.jpg" data-lightbox="image-6" data-title="image 6"><img src="images/picture6.jpg"></a>
      </div>
     </div>
  </section>

  {{ partial "footer.html" . }}

<script src="vendor/lightbox/js/lightbox-plus-jquery.js"></script>
</body>
</html>
